<p>Pago pendiente</p>
<ul>
    <li>payment_method: {{payment_type}}</li>
    <li>external_reference: {{external_reference}}</li>
    <li>ID pago: {{payment_id}}</li>
    <li>Estatus collection: {{collection_status}}</li>
</ul>
<a href="/" >Ir al inicio</a>