<p class="text-secondary bg-dark">Tu usuario fue confirmado exitosamente</p>

<p>{{nombre}} {{apellido}} Felicidades su cuenta fue habilitada exitosamente. Ya puedes votar!!</p>

<img src="./assets/Codigo_Logo.png" alt="Logo de CodiGo">